streamlit
numpy
pandas
matplotlib
seaborn
requests
bs4
sentence-transformers
faiss-cpu
wordcloud
scikit-learn
python-dotenv
groq
streamlit
requests
beautifulsoup4
python-dotenv
groq
sentence-transformers
faiss-cpu
numpy
matplotlib
wordcloud
scikit-learn
seaborn
pickle-mixin
pandas
spacy
langdetect

